
{% extends "base.html" %}
{% block content %}
    <div class="grille">
        <canvas class="item chart" id="myChart"></canvas>
        <div class="item  selector">
            <form method="POST" action="/chart_predictions">
                <label for="id-select">Choose an id:</label>
        
                <select name="id" id="id-select">
                    {% for i in ids %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
                <p> <input type = "submit" value="Valider"/> </p>
            </form>
        </div>
    </div>

    <a href="#" id="vote">data</a>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var y = JSON.parse("{{ y }}");
    var predictions = JSON.parse("{{ predictions }}")
    var x = {{ x | tojson | safe }};


</script>
<script src="{{url_for('static', filename='chartbar.js')}}"></script>
{% endblock content %}
